<div id="url-div" style="display: none;" data-url="{{url}}"></div>
<div class="container" style="max-width: 400px; background-color: #fff">
    <div style="margin-top: 10px; display: flex; flex-direction: column; justify-content: center; align-items: flex-start;">
        <div style="color: #333; font-size: 1.4em; font-weight: bold;">Inventory</div>
        <div style="width: 100%; padding-bottom: 10px; display: flex; flext-direction: row; justify-content: flex-end;">
            <button class="btn btn-default" id="create-btn" style="border: 1px solid #333; color: #333; border-radius: 0px;">Create New</button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {{#each items}}
                    <tr>
                        <td>{{this.title}}</td>
                        <td>{{this.timestamp}}</td>
                        <td>
                            <button class="edit-btn btn btn-default" style="width: 70px; border: 1px solid #333; color: #333; border-radius: 0px;" data-id="{{this.id}}">
                                edit
                            </button>
                            <button class="delete-btn btn btn-danger" style="margin-top: 10px; width: 70px; border-radius: 0px;" data-id="{{this.id}}">
                                delete
                            </button>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<script src="{{url}}/admin.js"></script>