<div id="url-div" style="display: none;" data-url="{{url}}"></div>

<div id="jumbo" style="width: 100%; height: 400px; background-image: url('/jumbo.jpg');  background-attachment: fixed; display: flex; justify-content: center; align-items: center;  background-position: center bottom; background-repeat: no-repeat; background-size: cover;">
    <div style="color: white; font-size: 2em; letter-spacing: 4px;">fresco style <span class="fa fa-circle"></span></div>
</div>
{{!-- <div id="nav" style="background-color: #fff; border-bottom: solid 2px #ccc; width: 100%; height: 60px; display: flex; justify-content: flex-start; align-items: center; flex-direction: row;">
    <div class="nav-link">
        <a href="#">Home</a>
    </div>
</div> --}}

<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; flex-wrap: wrap;">
    {{#each items}}
        <div style="flex-direction: column; display: flex; justify-content: center; align-items: center;">
            <a href="{{../url}}/detail/{{this.id}}" style="width: 160px; text-decoration: none;">
                <img src="{{this.imageUrl}}" width="160px; height: 160px;">
                <div style="text-align: center; font-size: 1.4em; color: #222">{{title}}</div>
                <div style="color: #333; text-align: center;">
                    <span style="font-size: 1em">
                        <s>${{originalPrice}}</s>
                    </span>
                    <span style="font-size: 1.4em">
                        <b>${{price}}</b>
                    </span>
                </div>
            </a>
        </div>
    {{/each}}

    <div style="margin-top: 30px; background-color: white; display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
        <div style="padding: 10px; {{#if showPrev}} {{else}} visibility: hidden; {{/if}}">
            <a style="color: #333; text-decoration: none" href="{{prev}}">previous</a>
        </div>
       
        <div style="padding: 10px;">
            <a style="color: #333; text-decoration: none;" href="{{to}}">next</a>
        </div>
    </div>
</div>

<script src="{{url}}/index.js"></script>